In [2]:
# ANSWER 1.
# A database is a structured collection of data that is organized and stored electronically. It allows for efficient data storage, retrieval, and
# manipulation.

# SQL (Structured Query Language) databases:
#  - SQL databases are relational databases.
#  - Data is stored in tables with rows and columns, following a predefined schema.
#  - They use SQL for querying and managing the data.
#  - Examples include MySQL, PostgreSQL, and Oracle.

# NoSQL (Not Only SQL) databases:
#  - NoSQL databases are non-relational databases.
#  - Data is stored in various formats like key-value pairs, document-oriented, column-oriented, or graph-based.
#  - They are designed for scalability and flexibility, often sacrificing ACID (Atomicity, Consistency, Isolation, Durability) properties for
#    performance.
#  - Examples include MongoDB, Cassandra, and Redis.

In [3]:
# ANSWER 2.
# DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of the database.

# 1. CREATE: Used to create new database objects such as tables, indexes, views, etc.
#    Example:
#    CREATE TABLE Employees ( EmployeeID INT, LastName VARCHAR(255), FirstName VARCHAR(255) );

# 2. DROP: Used to delete existing database objects.
#    Example:
#    DROP TABLE Employees;

# 3. ALTER: Used to modify the structure of an existing database object.
#    Example:
#    ALTER TABLE Employees
#    ADD COLUMN Age INT;

# 4. TRUNCATE: Used to remove all records from a table, but keep the table structure intact.
#    Example:
#    TRUNCATE TABLE Employees;

In [4]:
# ANSWER 3.
# DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate the data within the database.

# 1. INSERT: Used to add new records into a table.
#    Example:
#    INSERT INTO Employees (EmployeeID, LastName, FirstName)
#    VALUES (1, 'Smith', 'John');

# 2. UPDATE: Used to modify existing records in a table.
#    Example:
#    UPDATE Employees
#    SET LastName = 'Doe'
#    WHERE EmployeeID = 1;

# 3. DELETE: Used to remove existing records from a table.
#   Example:
#   DELETE FROM Employees
#   WHERE EmployeeID = 1;

In [5]:
# ANSWER 4.
# DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from the database.

# SELECT: Used to retrieve data from one or more tables in the database.
#         Example:
#         SELECT FirstName, LastName
#         FROM Employees
#         WHERE Department = 'IT';

In [6]:
# ANSWER 5.
# Primary Key:
#  - A primary key is a column or set of columns that uniquely identifies each record in a table.
#  - It ensures data integrity by enforcing uniqueness and providing a fast lookup mechanism.
#  - Only one primary key can exist per table.
#  - Example:
#    CREATE TABLE Students ( StudentID INT PRIMARY KEY, Name VARCHAR(50), Age INT);

# Foreign Key:
#  - A foreign key is a column or set of columns that establishes a relationship between two tables.
#  - It references the primary key of another table, linking the rows of the two tables together.
#  - It enforces referential integrity, ensuring that the values in the foreign key column match values in the primary key column of the referenced
#    table.
#  - Example:
#    CREATE TABLE Orders (OrderID INT PRIMARY KEY, ProductID INT, FOREIGN KEY (ProductID) REFERENCES Products(ProductID) );
# In this example, the "ProductID" column in the "Orders" table is a foreign key that references the "ProductID" column in the "Products" table.
# This establishes a relationship between the two tables, ensuring that orders can only reference existing products.

In [10]:
# ANSWER 6.
# Python code to connect MySQL to python is:
import mysql.connector
mydb=mysql.connector.connect(
    host="local host",
    user="abc",
    password="password"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists database_name")
mydb.close()

# cursor() method -
#  i) It creates a cursor object that allows you to execute SQL queries and fetch data from the database.
#  ii) It acts as a handle for the database operations.
#  iii) It's typically used to traverse the result set of a query.

# execute() method -
#  i) It is used to execute an SQL query.
#  ii) It takes an SQL query as its argument and executes it.
#  iii) It's often used in conjunction with the cursor object.

In [9]:
# ANSWER 7.
# In SQL, the order of execution of clauses in a query generally follows this sequence:
#  1. FROM: Specifies the tables from which to retrieve data.
#  2. WHERE: Filters rows based on specified conditions.
#  3. GROUP BY: Groups rows that have the same values into summary rows.
#  4. HAVING: Filters groups based on specified conditions.
#  5. SELECT: Selects the columns to include in the result set.
#  6. ORDER BY: Sorts the result set based on specified columns.
#  7. LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.