In [1]:
#1 Program to accept percentage from the user and display the grade according to the given criteria

In [15]:
Marks=float(input("Enter the Marks obtained"))
if Marks>90 :
    print("Grade A")
elif Marks>80 and Marks<=90 :
    print("Grade B")
elif Marks>=60 and Marks<=80 :
    print("Grade C")
else :
    print("Grade D")

Enter the Marks obtained 55

Grade D

In [16]:
#2 Program to accept the cost price of a bike and display the road tax to be paid according to the given criteria

In [24]:
Cost_price=float(input("Enter the Cost price the bike- Rs."))
print("Tax to be paid on the Cost price of Rs.",Cost_price,"is")
if Cost_price>100000 :
    k=0.15*Cost_price
    print("Rs.",k)
elif Cost_price>50000 and Cost_price<=100000 :
    k=0.1*Cost_price
    print("Rs.",k)
else :
    k=0.05*Cost_price
    print("Rs.",k)

Enter the Cost price the bike- Rs. 65000

Tax to be paid on the Cost price of Rs. 65000.0 is
Rs. 6500.0

In [22]:
#3 Program to accept any city name from the user and display monuments of that city

In [1]:
City_name=input('Enter the City name-')
if City_name =='Delhi' :
    print('A Monument in',City_name,'is Red Fort')
elif City_name == 'Agra' :
    print('A Monument in',City_name,'is Taj Mahal')
elif City_name == 'Jaipur' :
    print('A Monument in',City_name,'is Jal Mahal')

Enter the City name- Agra

A Monument in Agra is Taj Mahal

In [2]:
#4 Program to check how many times a given number can be divided by 3 before it is less than or equal to 10

In [ ]:
Number=float(input('Enter the number'))
count=0
quotient=0
if Number % 3 == 0 :
    while Number > 2 :
        quotient = Number/3
        if quotient>10 :
            Number=quotient
            count=count+1
    print (count)
else :
     print("Number not divisible by 3")

In [ ]:
#5 Python while loop is used to run a block code until a certain condition is met.
#The syntax of while loop is:
while condition:
# body of while loop
#Here,A while loop evaluates the conditionIf the condition evaluates to True, the code inside the while loop is executed.condition is evaluated again.This process continues until the condition is False.When condition evaluates to False, the loop stops.

In [2]:
#6 Program with nested while loop to print three patterns

In [3]:
#a.

In [4]:
i=5
while i>0 :
    print('*'*i)
    i=i-1

*****
****
***
**
*

In [5]:
#b.

In [18]:
i=5
j=0
while i>0 :
    while j<3 :
        print(' '*j,'*'*i,' '*j)
        i=i-2
        j=j+1

 *****
  ***
   *

In [ ]:
#c.

In [13]:
i=1
j=2
while i<6 :
    while j>=0 :
        print(' '*j,'*'*i,' '*j)
        i=i+2
        j=j-1

   *
  ***
 *****

In [19]:
#7 Reverse a while loop to display numbers from 10 to 1

In [20]:
i=10
while i>0 :
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1