In [47]:
# ANSWER 1
l=[('Sachin Tendulkar',34357),('Ricky Pointing',27483),('Jack Kallis',25534),('ViratKohli',24936)]
l1=[]
from functools import reduce
for i in range(len(l)):
    Sorting=(reduce(lambda x,y: x if x[1]<y[1] else y,l))
    l1.append(Sorting)
    d=l.index(Sorting)
    l.pop(d)
    continue
print(l1)

[('ViratKohli', 24936), ('Jack Kallis', 25534), ('Ricky Pointing', 27483), ('Sachin Tendulkar', 34357)]

In [49]:
# ANSWER 2
l2=[1,2,3,4,5,6,7,8,9,10]
a=list(map(lambda x: x**2,l2))
print("Squares =",a)

Squares = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
# ANSWER 3
l3=[1,2,3,4,5,6,7,8,9,10]
b=tuple(map(lambda x:str(x),l3))
print(b)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [62]:
# ANSWER 4
l4=list(range(1,26))
from functools import reduce
c=reduce(lambda x,y:x*y,l4)
print("Product of the numbers from 1 to 25 is",c)

Product of the numbers from 1 to 25 is 15511210043330985984000000

In [63]:
# ANSWER 5
l5=[2,3,6,9,27,60,90,120,55,46]
div=list(filter(lambda x: x%2==0 and x%3==0, l5))
print("Numbers divisible by 2 and 3 are",div)

Numbers divisible by 2 and 3 are [6, 60, 90, 120]

In [64]:
# ANSWER 6
l6=['python','php','aba','radar','level']
palindrome=list(filter(lambda x: x==x.reverse(),l6))
print("Palindromes in given list are",palindrome)

AttributeError: 'str' object has no attribute 'reverse'